<openbox_menu>
	<menu id="root-menu" label="labeli">
		<item label="xterm.sh">
			<action name="Execute">
				<command>~/dotfiles/bin/xterm.sh</command>
			</action>
  		</item>

		<item label="xterm">
			<action name="Execute">
				<command>xterm</command>
			</action>
  		</item>

		<item label="tmux show-buffer|xclip">
			<action name="Execute">
				<command>tmux show-buffer|xclip -i selection primary</command>
			</action>
		</item>

		<item label="setxkbmap us">
			<action name="Execute">
				<command>setxkbmap us</command>
			</action>
		</item>
		<item label="setxkbmap fi">
			<action name="Execute">
				<command>setxkbmap fi</command>
			</action>
		</item>
		<item label="Xkeyboard.sh">
			<action name="Execute">
				<command>~/dotfiles/bin/Xkeyboard.sh</command>
			</action>
		</item>
		<item label="xmodmap Xmodmap.reset*">
			<action name="Execute">
				<command>xmodmap ~/dotfiles/Xmodmap.resetescape ~/dotfiles/Xmodmap.resetcapslock</command>
			</action>
		</item>

		<item label="muttprint.ps">
			<action name="Execute">
				<command>~/bin/muttprint-evince.sh</command>
			</action>
		</item>

		<item label="gvim">
			<action name="Execute">
				<command>/usr/local/bin/gvim</command>
			</action>
  		</item>
		<item label="gucharmap">
			<action name="Execute">
				<command>/usr/local/bin/gucharmap</command>
			</action>
  		</item>
		<separator/>
		<item label="piirustus">
			<action name="Execute">
				<command>tuxpaint</command>
			</action>
		</item>
		<item label="ff">
			<action name="Execute">
				<command>firefox</command>
			</action>
  		</item>

		<item label="tb">
			<action name="Execute">
				<command>thunderbird</command>
			</action>
  		</item>

		<item label="pc-mixer">
			<action name="Execute">
				<command>/usr/local/bin/pc-mixer</command>
			</action>
  		</item>

		<item label="gmtp">
			<action name="Execute">
				<command>/usr/local/bin/gmtp</command>
			</action>
		</item>

		<item label="psi">
			<action name="Execute">
				<command>psi</command>
			</action>
		</item>

		<item label="tb">
			<action name="Execute">
				<command>thunderbird</command>
			</action>
  		</item>

		<separator/>

		<item label="PC-BSD handbook">
			<action name="Execute">
				<command>/usr/local/share/pcbsd/scripts/openhandbook.sh</command>
			</action>
  		</item>
		<item label="PC-BSD appcafe">
			<action name="Execute">
				<command>appcafe</command>
			</action>
  		</item>
		<item label="PC-BSD control panel">
			<action name="Execute">
				<command>pc-controlpanel</command>
			</action>
  		</item>
		<item label="PC-BSD CUPS config">
			<action name="Execute">
				<command>
qsudo pc-cupscfg
				</command>
			</action>
  		</item>
		<item label="PC-BSD sound config">
			<action name="Execute">
				<command>
qsudo pc-soundconfig
				</command>
			</action>
  		</item>
		<item label="PC-BSD disk manager">
			<action name="Execute">
				<command>
qsudo pc-zmanager
				</command>
			</action>
  		</item>
		<item label="PC-BSD disk mixer">
			<action name="Execute">
				<command>
pc-mixer
				</command>
			</action>
  		</item>
		<separator/>

		<item label="radmin">
			<action name="Execute">
				<command>~/bin/radmin</command>
			</action>
		</item>

		<item label="screenshot">
			<action name="Execute">
				<command>~/bin/screenshot</command>
			</action>
		</item>

		<item label="obconf">
			<action name="Execute">
				<command>obconf</command>
			</action>
  		</item>

		<item label="Reconfigure Openbox">
			<action name="Reconfigure"/>
  		</item>

		<item label="Exit">
			<action name="Exit">
				<prompt>yes</prompt>
			</action>
		</item>
		<separator/>
		<item label="xscreensaver-command -exit">
			<action name="Execute">
				<command>/usr/local/bin/xscreensaver-command -exit</command>
			</action>
		</item>
		<item label="xscreensaver">
			<action name="Execute">
				<command>/usr/local/bin/xscreensaver</command>
			</action>
		</item>
		<separator/>
		<item label="gotta run">
				<action name="Execute">
				<command>xdg-open http://reittiopas.fi/</command>
				<startupnotify>
						<enabled>no</enabled>
						<icon>cups</icon>
				</startupnotify>
				</action>
		</item>

		<item label="shutdown -r now">
			<action name="Execute">
				<prompt/>
				<command>/usr/local/bin/doas /sbin/shutdown -r now</command>
			</action>
		</item>

		<item label="shutdown -p now">
			<action name="Execute">
				<prompt/>
				<command>/usr/local/bin/doas /sbin/shutdown -p now</command>
			</action>
		</item>

		<item label="xscreensaver-command -_lock">
			<action name="Execute">
				<command>/usr/local/bin/xscreensaver-command -l</command>
			</action>
		</item>
	</menu>
<openbox_menu>	
